//? font path
$font_path_League-Spartan: './assets/fonts/League_Spartan';

//? font
$font_League-Spartan: "League Spartan";

//? color
$color_very-dark-magenta: hsl(300, 43%, 22%);
$color_soft-pink: hsl(333, 80%, 67%);
$color_dark-grayish-magenta: hsl(303, 10%, 53%);
$color_light-grayish-magenta: hsl(300, 24%, 96%);
$color_white: hsl(0, 0%, 100%);

:root{
  --color_very-dark-magenta: #{$color_very-dark-magenta};
  --color_soft-pink: #{color_soft-pink};
  --color_dark-grayish-magenta: #{$color_dark-grayish-magenta};
  --color_light-grayish-magenta: #{$color_light-grayish-magenta};
  --color_white: #{$color_white};
}

@font-face {
  font-family: $font_League-Spartan;
  src: url('#{$font_path_League-Spartan}/LeagueSpartan.ttf') format('truetype');
  font-optical-sizing: auto;
  font-display: swap;
  font-weight: 400, 500, 700;
  font-style: normal;
}

html{
  font-size: 15px;
  font-family: $font_League-Spartan;
}